<ion-view view-title="Playlists" hide-nav-bar="true">
    <ion-header-bar align-title="left" class="bar-dark">
        <div class="buttons">
            <button class="button button-icon button-clear ion-ios7-cart-outline ion-navicon" ng-click="toggleLeft()">
            </button>
        </div>
        <h1 class="title" style="text-align: center;width: 60%;">
        </h1>
        <div class="buttons">
            <button style="margin-right:5px" class="button button-icon button-clear ion-ios7-search">
            </button>
            <button style="margin-right:5px" class="button button-icon button-clear ion-ios7-plus-outline">
            </button>
            <button style="margin-right:5px" class="button button-icon button-clear ion-usb" ng-click="gotoslidetabs()">
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
      <h1>Browse</h1>
    </ion-content>
</ion-view>
