<!--<ion-view view-title="Playlists" hide-nav-bar="true">-->
    <!--<ion-header-bar align-title="left" class="bar-positive">-->
        <!--<div class="buttons">-->
            <!--<button class="button button-icon button-clear ion-ios7-cart-outline ion-navicon" ng-click="toggleLeft()">-->
            <!--</button>-->
        <!--</div>-->
        <!--<h1 class="title text-center">Title!</h1>-->
        <!--<div class="buttons">-->
            <!--<img src="img/ustglobal.jpg"/>-->
        <!--</div>-->
    <!--</ion-header-bar>-->
    <!--<ion-content>-->
    <!--<ion-list>-->
      <!--<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">-->
        <!--{{playlist.title}}-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</ion-content>-->
<!--</ion-view>-->

<ion-view title="Scrollable Tabbed Slide box" hide-nav-bar="true">
    <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
    <button class="button button-icon button-clear ion-ios7-cart-outline ion-navicon" ng-click="toggleLeft()">
    </button>
    </div>
    <h1 class="title text-center">Title!</h1>
    <div class="buttons">
    <img src="img/ustglobal.jpg"/>
    </div>
    </ion-header-bar>
    <ion-content scroll="false">
        <tab-slide-box>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll">
                        <a href="javascript:;" class="ion-home1">Home</a>
                        <a href="javascript:;" class="ion-game-controller-b1">Games</a>
                        <a href="javascript:;" class="ion-email1">Email</a>
                    </ion-scroll>
                </div>
            </div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                <ion-slide>
                    <h3>Home content</h3>
                </ion-slide>
                <ion-slide>
                    <h3>Games content</h3>
                </ion-slide>
                <ion-slide>
                    <h3>Mail content</h3>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>
</ion-view>
