<ion-view title="Scrollable Tabbed Slide box" hide-nav-bar="true">
<ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
        <button class="button button-icon button-clear ion-ios7-cart-outline ion-navicon" ng-click="toggleLeft()">
        </button>
    </div>
    <h1 class="title ">News @ Noon</h1>
    <div class="buttons">
        <img src="img/ustglobal.jpg"/>
    </div>
</ion-header-bar>
<ion-content scroll="false">
<tab-slide-box>
<div class="tsb-icons">
    <div class="tsb-ic-wrp">
        <ion-scroll direction="x" class="tsb-hscroll">
            <a href="javascript:;" class="ion-home1">Latest</a>
            <a href="javascript:;" class="ion-game-controller-b1">Popular</a>
            <a href="javascript:;" class="ion-email1">Favorites</a>
        </ion-scroll>
    </div>
</div>
<ion-slide-box show-pager="false"  on-slide-changed="slideHasChanged($index)">
<ion-slide>
    <h3>Latest</h3>
</ion-slide>
<ion-slide>
<ion-content>
<div class="row padding-0">
    <div class="col div1" style="background: url('img/news1.jpg'); background-size: 100% 100%">
        <div class="row">
            <div class="col-60 width-100 padding-top-10">
                <h3>NAJNOVILE VESTI</h3>
            </div>
            <div class="col-40 text-right width-100">
                <button style="" class="button button-small button-positive padding-left-20 padding-right-20">
                    Tech
                </button>
            </div>
        </div>
        <div class="row padding-top-6">
            <div class="light-heading">
                Novi Canon ofbeebefb super
                cenenm izlala u Februvafe
            </div>
        </div>
        <div class="row padding-top-6">
            <div class="col-50 width-100">
                February 2,2015 12:58
            </div>
            <div class="col-50 width-100">
                <div class="float-right width-30"><i  class="icon  ion-heart"> 24 </i></div>
                <div class="float-right width-30"><i  class="icon  ion-chatbubbles"> 34 </i></div>
                <div class="float-right width-30"><i  class="icon  ion-eye"> 55 </i></div>
            </div>
        </div>
    </div>
</div>
<div class="row padding-0">
    <div class="col-50 width-100" style="border: 4px solid #201727">
        <div class="col div2" style="background: url('img/news2.jpg'); background-size: 100% 100%">
            <div class="row">
                <div class="text-right width-100">
                    <button style="" class="button button-small button-positive padding-left-10 padding-right-10">
                        Tech
                    </button>
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100 light-heading2">
                    Novi Canon ofbeebefb super
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100 div2-date">
                    February 2,2015 12:58
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100">
                    <div class="float-right width-33"><i  class="icon  ion-heart"> 24 </i></div>
                    <div class="float-right width-33"><i  class="icon  ion-chatbubbles"> 34 </i></div>
                    <div class="float-right width-33"><i  class="icon  ion-eye"> 55 </i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-50 width-100" style="border: 4px solid #201727">
        <div class="col div2" style="background: url('img/news2.jpg'); background-size: 100% 100%">
            <div class="row">
                <div class="text-right width-100">
                    <button style="" class="button button-small button-positive padding-left-10 padding-right-10">
                        Tech
                    </button>
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100 light-heading2">
                    Novi Canon ofbeebefb super
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100 div2-date">
                    February 2,2015 12:58
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100">
                    <div class="float-right width-33"><i  class="icon  ion-heart"> 24 </i></div>
                    <div class="float-right width-33"><i  class="icon  ion-chatbubbles"> 34 </i></div>
                    <div class="float-right width-33"><i  class="icon  ion-eye"> 55 </i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row padding-0">
    <div class="col-50 width-100" style="border: 4px solid #201727">
        <div class="col div2" style="background: url('img/news2.jpg'); background-size: 100% 100%">
            <div class="row">
                <div class="text-right width-100">
                    <button style="" class="button button-small button-positive padding-left-10 padding-right-10">
                        Tech
                    </button>
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100 light-heading2">
                    Novi Canon ofbeebefb super
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100 div2-date">
                    February 2,2015 12:58
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100">
                    <div class="float-right width-33"><i  class="icon  ion-heart"> 24 </i></div>
                    <div class="float-right width-33"><i  class="icon  ion-chatbubbles"> 34 </i></div>
                    <div class="float-right width-33"><i  class="icon  ion-eye"> 55 </i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-50 width-100" style="border: 4px solid #201727">
        <div class="col div2" style="background: url('img/news2.jpg'); background-size: 100% 100%">
            <div class="row">
                <div class="text-right width-100">
                    <button style="" class="button button-small button-positive padding-left-10 padding-right-10">
                        Tech
                    </button>
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100 light-heading2">
                    Novi Canon ofbeebefb super
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100 div2-date">
                    February 2,2015 12:58
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100">
                    <div class="float-right width-33"><i  class="icon  ion-heart"> 24 </i></div>
                    <div class="float-right width-33"><i  class="icon  ion-chatbubbles"> 34 </i></div>
                    <div class="float-right width-33"><i  class="icon  ion-eye"> 55 </i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row padding-0">
    <div class="col-50 width-100" style="border: 4px solid #201727">
        <div class="col div2" style="background: url('img/news2.jpg'); background-size: 100% 100%">
            <div class="row">
                <div class="text-right width-100">
                    <button style="" class="button button-small button-positive padding-left-10 padding-right-10">
                        Tech
                    </button>
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100 light-heading2">
                    Novi Canon ofbeebefb super
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100 div2-date">
                    February 2,2015 12:58
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100">
                    <div class="float-right width-33"><i  class="icon  ion-heart"> 24 </i></div>
                    <div class="float-right width-33"><i  class="icon  ion-chatbubbles"> 34 </i></div>
                    <div class="float-right width-33"><i  class="icon  ion-eye"> 55 </i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-50 width-100" style="border: 4px solid #201727">
        <div class="col div2" style="background: url('img/news2.jpg'); background-size: 100% 100%">
            <div class="row">
                <div class="text-right width-100">
                    <button style="" class="button button-small button-positive padding-left-10 padding-right-10">
                        Tech
                    </button>
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100 light-heading2">
                    Novi Canon ofbeebefb super
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100 div2-date">
                    February 2,2015 12:58
                </div>
            </div>
            <div class="row padding-top-6">
                <div class="width-100">
                    <div class="float-right width-33"><i  class="icon  ion-heart"> 24 </i></div>
                    <div class="float-right width-33"><i  class="icon  ion-chatbubbles"> 34 </i></div>
                    <div class="float-right width-33"><i  class="icon  ion-eye"> 55 </i></div>
                </div>
            </div>
        </div>
    </div>
</div>
</ion-content>
</ion-slide>
<ion-slide>
    <h3>Favorites</h3>
</ion-slide>
</ion-slide-box>
</tab-slide-box>
</ion-content>
</ion-view>
